:root {
    --gray: #BDBDBD;
    --accent-color: #ac83d6;
    --header-color: #FFF;
    --sidebar-color: #FFF;
    --highlight-color: #FFCC85;
    --bg-color: #FFF;
    --bg-dark-color: #D6D6D6;

    --red-light: #F9B1B1;
    --red-dark: #D42828;
    --yellow-light: #E6E97A;
    --yellow-dark: #BDA006;
    --green-light: #C9F8C2;
    --green-dark: #24BC0B;
}


.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
}

/* HEADER SECTION */

header {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom, #f6c65b, #f8c14b, #f9bb3b, #fbb627, #fdb006);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-wrapper {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.header-wrapper>* {
    font-size: 40px;
}

.menu-icon-wrapper {
    /* position: absolute;
    left: 20px; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.menu-icon {
    position: absolute;
    font-size: 26px;
    cursor: pointer;
}

.menu-icon-wrapper:hover {
    background-color: var(--bg-dark-color);

}

/* SIDEBAR SECTION*/

.sidebar {
    background-color: var(--sidebar-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2/4;
    grid-column: 1/2;
}

.sidebar-wrapper {
    width: 85%;
}

.sidebar-li-wrapper {
    margin-top: 20px;
}

.project-wrapper {
    margin-top: 20px;
}

.sidebar-heading {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-content {
    font-size: 24px;
}

.sidebar-content>li {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.sidebar-content>li>* {
    margin-left: 20px;
}

.sidebar-content>li:hover {
    background-color: var(--highlight-color);
}

/* CONTENT SECTION */


.content-container {
    grid-row: 2/ 3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.content-heading-wrapper {
    font-size: 42px;
    margin-top: 20px;
    border-bottom: 2px solid black;
    height: 60px;
}

.content-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.date-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #999999;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    gap: 40px;
    margin-top: 20px;
    position: relative;
}


#completion-square {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    background-color: #fff;
    border-radius: 50%;
}

.task-wrapper {
    height: 60px;
    width: max(700px);
    display: flex;
    align-items: center;
    border-radius: 50px;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    margin-inline: auto;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.task {
    color: #000;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.task-name-date-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#task-name {
    font-size: 28px;
}

#task-date {
    font-size: 16px;
    margin-left: 1px;
}

.task-left {
    display: flex;
    align-items: center;
    height: 100%;
}
.task-right {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.task-icon {
    font-size: 45px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
}

#empty-circle {
    background-color: transparent;
}

#pencil {
    position: absolute;
    font-size: 20px;
    left: 13px;
    background-color: transparent;
    color: #fff;
}

#completed-icon {
    display: inline-block;
}

.task-wrapper.high {
    background-color: var(--red-light);
    border: 5px solid var(--red-dark);
}

.task-wrapper.medium {
    background-color: var(--yellow-light);
    border: 5px solid var(--yellow-dark);
}

.task-wrapper.low {
    background-color: var(--green-light);
    border: 5px solid var(--green-dark);
}

.task-icon.high {
    color: var(--red-dark);
}

.task-icon.medium {
    color: var(--yellow-dark);
}

.task-icon.low {
    color: var(--green-dark);
}


.task-description-wrapper {
    display: none;
    margin-top: -5px;
    /* display: flex; */
    border: 5px solid black;
    border-radius: 0 0 50px 50px;
    border-top: none;
    width: max(700px);
    height: min(60px);
}

.task-description {
    align-items: center;
    color: black;
    margin: 20px;
}


/* Form section */

form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 15px 15px;
    font-size: 18px;
}

#description {
    resize: none;
}

.add-task-btn {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    height: 40px;
    border: 2px solid #9D9C9C;
    width: min(30% - 2rem);
    margin-inline: auto;
    gap: 5px;
}

input,
textarea,
select {
    margin-bottom: 15px;
    padding: 5px;
}

.hidden {
    display: none;
}

.form-button-wrapper {
    display: flex;
    justify-content: center;
    width: min(50% - 2rem);
    margin-inline: auto;
    gap: 20px
}

.form-button-wrapper>input {
    width: 200px;
}
