:root {
    --accent-color: #D36135;
    --highlight-color: #FFCC85;
    --bg-color: #FFF;
    --bg-dark-color: #D6D6D6;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
}

.content {
    width: 70%;
    border: 1px solid rebeccapurple;
}

/* HEADER SECTION */

header {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-wrapper {
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-wrapper > * { 
    font-size: 40px;
}

.menu-icon-wrapper {
    position: absolute;
    left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    position: absolute;
    font-size: 26px;
    cursor: pointer;
}

.menu-icon-wrapper:hover {
    background-color: var(--bg-dark-color);
    
}



.content-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
}

/* SIDEBAR SECTION*/

.sidebar {
    background-color: lightgoldenrodyellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2/4;
    grid-column: 1/2;
}

.sidebar-wrapper {
    width: 85%;
}

.task-wrapper {
    margin-top: 20px;
}

.project-wrapper {
    margin-top: 20px;
}

.sidebar-heading {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-content {
    font-size: 24px;
}

.sidebar-content > li {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.sidebar-content > li > * {
    margin-left: 20px;
}

.sidebar-content > li:hover {
    background-color: var(--highlight-color);
}

/* CONTENT SECTION */


.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    grid-row: 2/3;
    grid-column: 2/3;
}

/* .empty {
    height: 80px;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1 / 3;
} */