@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&family=Pacifico&display=swap');

:root {
    --gray: #BDBDBD;
    --accent-color: #ac83d6;
    --header-color: #284b63;
    --header-text-color: #FFF;
    --sidebar-color: #eef0eb;
    --highlight-color: #FFCC85;
    --bg-color: #FFF;
    --bg-dark-color: #D6D6D6;

    /* --red-light: #F9B1B1;
    --red-dark: #D42828;
    --yellow-light: #E6E97A;
    --yellow-dark: #BDA006;
    --green-light: #C9F8C2;
    --green-dark: #24BC0B; */
    --red-light: #FFF;
    --red-dark: #D42828;
    --yellow-light: #FFF;
    --yellow-dark: #BDA006;
    --green-light: #FFF;
    --green-dark: #24BC0B;
}


.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

body {
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
}

/* HEADER SECTION */

header {
    width: 100%;
    height: 80px;
    background-color: var(--header-color);
    color: var(--header-text-color);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: 'Pacifico', cursive;
}

.header-wrapper {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.header-wrapper>* {
    font-size: 40px;
}

.menu-icon-wrapper {
    /* position: absolute;
    left: 20px; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.menu-icon {
    position: absolute;
    font-size: 26px;
    cursor: pointer;
}

.menu-icon-wrapper:hover {
    background-color: var(--bg-dark-color);

}

/* SIDEBAR SECTION*/

.sidebar {
    background-color: var(--sidebar-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2/-1;
    grid-column: 1/2;
    height: 100%;
}

.sidebar-wrapper {
    width: 85%;
}

.sidebar-li-wrapper {
    margin-top: 20px;
}

.project-wrapper {
    margin-top: 20px;
}

.sidebar-heading {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-content {
    font-size: 24px;
}

.sidebar-content>li {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.sidebar-content>* {
    margin-left: 20px;
}

.sidebar-content>li:hover {
    background-color: var(--highlight-color);
}


.project-add-wrapper {
    margin-top: 20px;
}

#project-add-btn {
    display: flex;
    gap: 10px;
}

#project-add-btn.hidden {
    display: none;
}

#projectName {
    width: 100%;
}

.close-mark {
    margin-left: auto;
}

.hidden-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.project-xmark {
    font-size: 20px;
    pointer-events: none;
}

.clickthrough {
    pointer-events: none;
}

.project-form-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 7px;
    gap: 10px
}

.project-form-button {
    width: 100px;
}



/* CONTENT SECTION */


.content-container {
    grid-row: 2/ 3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.content-heading-wrapper {
    font-size: 42px;
    margin-top: 20px;
    border-bottom: 2px solid black;
    height: 60px;
}

.content-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-title-right {
    margin-left: auto;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.date-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #999999;
    margin-left: auto;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    gap: 40px;
    margin-top: 20px;
    position: relative;
}

.strike {
    text-decoration: line-through;
}

.complete {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(.75); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(.75); /* Microsoft Edge and Firefox 35+ */
}

.title {
    font-family: 'Nunito', sans-serif;
    width: 50%;
}


/* #completion-square {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    background-color: #fff;
    border-radius: 50%;
} */

.task-wrapper {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    gap: 10px;
    border: 3px solid black;
    margin-inline: auto;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    cursor: pointer;
}

.colored-border {
    width: 75%;
    height: 1px;
    border-top: 3px solid black;
    margin-top: -10px;
}

.colored-border.high {
    border-top: 3px solid var(--red-dark);
}

.colored-border.medium {
    border-top: 3px solid var(--yellow-dark);
}

.colored-border.low {
    border-top: 3px solid var(--green-dark);
}



.task {
    color: #000;
    display: flex;
    width: 99%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.task-name-date-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
}

#task-name {
    font-size: 34px;
}

#task-date-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
}

.task-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.task-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: relative;
}

.task-icon {
    font-size: 45px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
}

.fa-trash {
    font-size: 25px;
    color: #fff;
}

#task-remove-btn {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#task-remove-btn.high {
    background-color: var(--red-dark);
}

#task-remove-btn.medium {
    background-color: var(--yellow-dark);
}

#task-remove-btn.low {
    background-color: var(--green-dark);
}



#toggle-description-icon {
    display: inline-block;
}

/* .task-wrapper.high,
.task-description-wrapper.high {
    border: 3px solid;
}

.task-wrapper.medium,
.task-description-wrapper.medium {
    border: 3px solid;
} */

/* .task-wrapper.low,
.task-description-wrapper.low {
    border: 3px solid;
} */

/* .task-description-wrapper.high,
.task-description-wrapper.medium,
.task-description-wrapper.low {
} */

.task-description-wrapper.high {
    border-radius: 0;
}

.task-description-wrapper.medium {
    border-radius: 0;
}

.task-description-wrapper.low {
    border-radius: 0;
}


.task-icon.high {
    color: var(--red-dark);
}

.task-icon.medium {
    color: var(--yellow-dark);
}

.task-icon.low {
    color: var(--green-dark);
}


.task-description-wrapper {
    display: none;
    position: relative;
    flex-direction: column;
    margin-top: -10px;
    width: 100%;
    min-height: 80px;
    height: auto;
    max-height: 300px;
    justify-content: center;
    align-items: center;
}

.task-description-wrapper:after {
    border: 3px solid black;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 0 0 25px 25px;
    border-top: none;
    pointer-events: none;
}


.task-description {
    width: 95%;
    height: min(90%);
    background-color: #fff;
    align-items: center;
    color: black;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-description-text {
    width: 86%;
    height: 100%;
    font-size: 20px;
    overflow: auto;
}


#edit-btn {
    position: absolute;
    right: 0;
    top: 10px;
}

#empty-circle {
    background-color: transparent;
}

#empty-circle.high {
    color: var(--red-dark);
}

#empty-circle.medium {
    color: var(--yellow-dark);
}

#empty-circle.low {
    color: var(--green-dark);
}

.empty-circle {
    position: relative;
}

.pencil {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 22px;
    background-color: transparent;
    color: #fff;
    z-index: 1;
}


/* Form section */

#taskForm,#editModalTaskForm {
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 15px 15px;
    font-size: 20px;
}

#description {
    resize: none;
}

.add-task-wrapper {
    display: flex;
    align-items: center;
}

.add-task-btn {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--header-text-color);
    background-color: var(--header-color);
    height: 40px;
    width: 125px;
    border-radius: 25px 0px 0px 25px;
    margin-inline: auto;
    gap: 5px;
}

.add-task-plus {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    font-size: 20px;
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    border: 3px solid var(--header-text-color);
    margin-left: -20px;
}

input,
textarea,
select {
    margin-bottom: 15px;
    padding: 5px;
}

.hidden {
    display: none;
}

.form-button-wrapper {
    display: flex;
    justify-content: center;
    width: min(50% - 2rem);
    margin-inline: auto;
    gap: 20px
}

.form-button-wrapper>input {
    width: 200px;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
   width: 50%;
   height: 50%;
   z-index: 1;
  }
  
  /* The Close Button */
.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeModal:hover,
  .closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }